In [59]:
import findspark
findspark.init()
import json   # To read json data into python environment. 

#import pyspark.sql import SQLContext, row 
# sqlC = SQLContext(sc)

# twittertable =  sqlC.read.json("")

# sqlC.sql("select text from twittwertable")

#twtable.registerTempTable("twittertable")
from pyspark import SparkContext
from pyspark import SparkContext 
from pyspark.sql import SQLContext 
sc = SparkContext.getOrCreate()

In [60]:
sc

In [61]:
coldata = sc.textFile("auto-data.csv")

In [62]:
coldata.first()

'MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE'

In [63]:
coldata.take(5)

['MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE',
 'subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118',
 'chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151',
 'mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195',
 'toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348']

In [64]:
coldata.take(2)

['MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE',
 'subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118']

In [65]:
from pyspark.sql import SparkSession

In [66]:
spark = SparkSession .builder.appName("Python Spark SQL basic example") .config("spark.some.config.option", "some-value").getOrCreate()

In [67]:
df = spark.read.json("customerData.json")

In [68]:
df.show()

+---+------+------+-----------------+------+
|age|deptid|gender|             name|salary|
+---+------+------+-----------------+------+
| 32|   100|  male|Benjamin Garrison|  3000|
| 40|   200|  male|    Holland Drake|  4500|
| 26|   100|  male|  Burks Velasquez|  2700|
| 51|   100|female|    June Rutledge|  4300|
| 44|   200|  male|    Nielsen Knapp|  6500|
+---+------+------+-----------------+------+

In [69]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- deptid: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [94]:
import pandas as pd 
sqlContext = SQLContext(sc)


nasadata = sc.textFile("nasa_19950701.tsv")

In [95]:
import pandas as pd 
sqlContext = SQLContext(sc)

In [96]:
#segments = sc.textFile("nasa_19950701.tsv").options(header='true', inferschema='true')

In [97]:
nasadata.count()

10000

In [99]:
nasadata

AttributeError: 'RDD' object has no attribute 'show'