In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Python Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()

In [10]:
df = spark.read.csv("auto-data.csv", header=True)

In [11]:
df.head(5)

[Row(MAKE='subaru', FUELTYPE='gas', ASPIRE='std', DOORS='two', BODY='hatchback', DRIVE='fwd', CYLINDERS='four', HP='69', RPM='4900', MPG-CITY='31', MPG-HWY='36', PRICE='5118'),
 Row(MAKE='chevrolet', FUELTYPE='gas', ASPIRE='std', DOORS='two', BODY='hatchback', DRIVE='fwd', CYLINDERS='three', HP='48', RPM='5100', MPG-CITY='47', MPG-HWY='53', PRICE='5151'),
 Row(MAKE='mazda', FUELTYPE='gas', ASPIRE='std', DOORS='two', BODY='hatchback', DRIVE='fwd', CYLINDERS='four', HP='68', RPM='5000', MPG-CITY='30', MPG-HWY='31', PRICE='5195'),
 Row(MAKE='toyota', FUELTYPE='gas', ASPIRE='std', DOORS='two', BODY='hatchback', DRIVE='fwd', CYLINDERS='four', HP='62', RPM='4800', MPG-CITY='35', MPG-HWY='39', PRICE='5348'),
 Row(MAKE='mitsubishi', FUELTYPE='gas', ASPIRE='std', DOORS='two', BODY='hatchback', DRIVE='fwd', CYLINDERS='four', HP='68', RPM='5500', MPG-CITY='37', MPG-HWY='41', PRICE='5389')]

In [12]:
df.show(5)

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 5 rows

In [15]:
df.select("MAKE").show(5)

+----------+
|      MAKE|
+----------+
|    subaru|
| chevrolet|
|     mazda|
|    toyota|
|mitsubishi|
+----------+
only showing top 5 rows

In [16]:
df.select("MAKE").count()

197

In [17]:
df.count()

197

In [20]:
df.select("MAKE","CYLINDERS").show()

+----------+---------+
|      MAKE|CYLINDERS|
+----------+---------+
|    subaru|     four|
| chevrolet|    three|
|     mazda|     four|
|    toyota|     four|
|mitsubishi|     four|
|     honda|     four|
|    nissan|     four|
|     dodge|     four|
|  plymouth|     four|
|     mazda|     four|
|mitsubishi|     four|
|     dodge|     four|
|  plymouth|     four|
| chevrolet|     four|
|    toyota|     four|
|     dodge|     four|
|     honda|     four|
|    toyota|     four|
|     honda|     four|
| chevrolet|     four|
+----------+---------+
only showing top 20 rows

In [22]:
df.select(df['MAKE'],df['HP']).show()

+----------+---+
|      MAKE| HP|
+----------+---+
|    subaru| 69|
| chevrolet| 48|
|     mazda| 68|
|    toyota| 62|
|mitsubishi| 68|
|     honda| 60|
|    nissan| 69|
|     dodge| 68|
|  plymouth| 68|
|     mazda| 68|
|mitsubishi| 68|
|     dodge| 68|
|  plymouth| 68|
| chevrolet| 70|
|    toyota| 62|
|     dodge| 68|
|     honda| 58|
|    toyota| 62|
|     honda| 76|
| chevrolet| 70|
+----------+---+
only showing top 20 rows

In [28]:
df.filter(df['HP'] > 95).show()

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|mitsubishi|     gas| turbo|  two|hatchback|  fwd|     four|102|5500|      24|     30| 7689|
|     dodge|     gas| turbo|  two|hatchback|  fwd|     four|102|5500|      24|     30| 7957|
|  plymouth|     gas| turbo|  two|hatchback|  fwd|     four|102|5500|      24|     30| 7957|
|    toyota|     gas|   std|  two|  hardtop|  rwd|     four|116|4800|      24|     30| 8449|
|    nissan|     gas|   std| four|hatchback|  fwd|     four| 97|5200|      27|     34| 8949|
|mitsubishi|     gas| turbo| four|    sedan|  fwd|     four|116|5500|      23|     30| 9279|
|mitsubishi|     gas|   std| four|    sedan|  fwd|     four|116|5500|      23|     30| 9279|
|    toyota|     gas|   std|  two|    sedan|  rwd|     four|112|6600|      26|     29| 9298|
|    toyota|     gas|   std|  two|hatchback|  rwd|     four|112|6600|      26|     29| 9538|
|    nissan|     gas|   std| four|    sedan|  fwd|     four| 97|5200|      27|     34| 9549|
|    toyota|     gas|   std|  two|  hardtop|  rwd|     four|116|4800|      24|     30| 9639|
|mitsubishi|     gas| turbo|  two|hatchback|  fwd|     four|116|5500|      23|     30| 9959|
|    toyota|     gas|   std|  two|hatchback|  rwd|     four|116|4800|      24|     30| 9989|
|volkswagen|     gas|   std| four|    sedan|  fwd|     four|100|5500|      26|     32| 9995|
|     honda|     gas|   std|  two|    sedan|  fwd|     four|100|5500|      25|     31|10345|
|     mazda|     gas|   std|  two|hatchback|  rwd|      two|101|6000|      17|     23|10945|
|    toyota|     gas|   std|  two|  hardtop|  rwd|     four|116|4800|      24|     30|11199|
|    subaru|     gas| turbo| four|    sedan|  4wd|     four|111|4800|      24|     29|11259|
|    toyota|     gas|   std|  two|hatchback|  rwd|     four|116|4800|      24|     30|11549|
|    subaru|     gas| turbo| four|    wagon|  4wd|     four|111|4800|      23|     23|11694|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 20 rows

In [32]:
df.groupBy("MAKE").count().show()

+-------------+-----+
|         MAKE|count|
+-------------+-----+
|       peugot|   11|
|       jaguar|    3|
|   mitsubishi|   13|
|       toyota|   32|
|         saab|    6|
|     plymouth|    7|
|         audi|    6|
|  alfa-romero|    3|
|          bmw|    8|
|        dodge|    8|
|        mazda|   16|
|mercedes-benz|    8|
|        isuzu|    2|
|      porsche|    4|
|    chevrolet|    3|
|        honda|   13|
|   volkswagen|   12|
|      mercury|    1|
|       nissan|   18|
|       subaru|   12|
+-------------+-----+
only showing top 20 rows

In [33]:
df.createOrReplaceTempView("cars")

In [34]:
sqldf = spark.sql("select * from cars")

In [35]:
sqldf.show()

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 60|5500|      38|     42| 5399|
|    nissan|     gas|   std|  two|    sedan|  fwd|     four| 69|5200|      31|     37| 5499|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|  plymouth|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      31|     38| 6095|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6189|
|     dodge|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
|  plymouth|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
| chevrolet|     gas|   std|  two|hatchback|  fwd|     four| 70|5400|      38|     43| 6295|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      31|     38| 6338|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6377|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 58|4800|      49|     54| 6479|
|    toyota|     gas|   std| four|hatchback|  fwd|     four| 62|4800|      31|     38| 6488|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 76|6000|      30|     34| 6529|
| chevrolet|     gas|   std| four|    sedan|  fwd|     four| 70|5400|      38|     43| 6575|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 20 rows

In [44]:
spark.sql("select MAKE, PRICE,HP,RPM,DRIVE , FUELTYPE from cars").show()

+----------+-----+---+----+-----+--------+
|      MAKE|PRICE| HP| RPM|DRIVE|FUELTYPE|
+----------+-----+---+----+-----+--------+
|    subaru| 5118| 69|4900|  fwd|     gas|
| chevrolet| 5151| 48|5100|  fwd|     gas|
|     mazda| 5195| 68|5000|  fwd|     gas|
|    toyota| 5348| 62|4800|  fwd|     gas|
|mitsubishi| 5389| 68|5500|  fwd|     gas|
|     honda| 5399| 60|5500|  fwd|     gas|
|    nissan| 5499| 69|5200|  fwd|     gas|
|     dodge| 5572| 68|5500|  fwd|     gas|
|  plymouth| 5572| 68|5500|  fwd|     gas|
|     mazda| 6095| 68|5000|  fwd|     gas|
|mitsubishi| 6189| 68|5500|  fwd|     gas|
|     dodge| 6229| 68|5500|  fwd|     gas|
|  plymouth| 6229| 68|5500|  fwd|     gas|
| chevrolet| 6295| 70|5400|  fwd|     gas|
|    toyota| 6338| 62|4800|  fwd|     gas|
|     dodge| 6377| 68|5500|  fwd|     gas|
|     honda| 6479| 58|4800|  fwd|     gas|
|    toyota| 6488| 62|4800|  fwd|     gas|
|     honda| 6529| 76|6000|  fwd|     gas|
| chevrolet| 6575| 70|5400|  fwd|     gas|
+----------+-----+---+----+-----+--------+
only showing top 20 rows

In [ ]:
val spark = SparkSession.builder().appName("Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()