In [ ]:
import findspark
findspark.init()

#creating spark context
from pyspark import SparkContext

from pyspark.sql import SparkSession

sc = SparkContext.getOrCreate()

In [ ]:
data = sc.parallelize([('Jordon',100),('Joson', 150)])

In [ ]:
data.count()

In [21]:
spark = SparkSession.builder.master("local").appName("Word Count").config("spark.some.config.option", "some-value") .getOrCreate()

In [22]:
spark

In [23]:
sc

In [ ]:
df = spark.read.format('csv').options(header='true',inferschema='true').load(“iris.csv”, header=True)

In [30]:
df = spark.read.json("customerData.json")

In [31]:
df.show()

+---+------+------+-----------------+------+
|age|deptid|gender|             name|salary|
+---+------+------+-----------------+------+
| 32|   100|  male|Benjamin Garrison|  3000|
| 40|   200|  male|    Holland Drake|  4500|
| 26|   100|  male|  Burks Velasquez|  2700|
| 51|   100|female|    June Rutledge|  4300|
| 44|   200|  male|    Nielsen Knapp|  6500|
+---+------+------+-----------------+------+

In [32]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- deptid: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [34]:
df.head(10)

[Row(age='32', deptid='100', gender='male', name='Benjamin Garrison', salary='3000'),
 Row(age='40', deptid='200', gender='male', name='Holland Drake', salary='4500'),
 Row(age='26', deptid='100', gender='male', name='Burks Velasquez', salary='2700'),
 Row(age='51', deptid='100', gender='female', name='June Rutledge', salary='4300'),
 Row(age='44', deptid='200', gender='male', name='Nielsen Knapp', salary='6500')]

In [35]:
df.select("name").show()

+-----------------+
|             name|
+-----------------+
|Benjamin Garrison|
|    Holland Drake|
|  Burks Velasquez|
|    June Rutledge|
|    Nielsen Knapp|
+-----------------+

In [94]:
 csvdata = spark.read.csv(
    "nasa_19950701.tsv", header=True, mode="DROPMALFORMED").show()

+-------------------------------------------+
|host	logname	time	method	url	response	bytes|
+-------------------------------------------+
|                       199.72.81.55	-	80...|
|                       unicomp6.unicomp....|
|                       199.120.110.21	-	...|
|                       burger.letters.co...|
|                       199.120.110.21	-	...|
|                       burger.letters.co...|
|                       burger.letters.co...|
|                       205.212.115.106	-...|
|                       d104.aa.net	-	804...|
|                       129.94.144.152	-	...|
|                       unicomp6.unicomp....|
|                       unicomp6.unicomp....|
|                       unicomp6.unicomp....|
|                       d104.aa.net	-	804...|
|                       d104.aa.net	-	804...|
|                       d104.aa.net	-	804...|
|                       129.94.144.152	-	...|
|                       199.120.110.21	-	...|
|                       ppptky391.asahi-n...|
|                       net-1-141.eden.co...|
+-------------------------------------------+
only showing top 20 rows

In [52]:
csvdata.printSchema()

root
 |-- host	logname	time	method	url	response	bytes: string (nullable = true)

In [53]:
csvdata.head(10)

[Row(host	logname	time	method	url	response	bytes='199.72.81.55\t-\t804571201\tGET\t/history/apollo/\t200\t6245\t\t'),
 Row(host	logname	time	method	url	response	bytes='unicomp6.unicomp.net\t-\t804571206\tGET\t/shuttle/countdown/\t200\t3985\t\t'),
 Row(host	logname	time	method	url	response	bytes='199.120.110.21\t-\t804571209\tGET\t/shuttle/missions/sts-73/mission-sts-73.html\t200\t4085\t\t'),
 Row(host	logname	time	method	url	response	bytes='burger.letters.com\t-\t804571211\tGET\t/shuttle/countdown/liftoff.html\t304\t0\t\t'),
 Row(host	logname	time	method	url	response	bytes='199.120.110.21\t-\t804571211\tGET\t/shuttle/missions/sts-73/sts-73-patch-small.gif\t200\t4179\t\t'),
 Row(host	logname	time	method	url	response	bytes='burger.letters.com\t-\t804571212\tGET\t/images/NASA-logosmall.gif\t304\t0\t\t'),
 Row(host	logname	time	method	url	response	bytes='burger.letters.com\t-\t804571212\tGET\t/shuttle/countdown/video/livevideo.gif\t200\t0\t\t'),
 Row(host	logname	time	method	url	response	bytes='205.212.115.106\t-\t804571212\tGET\t/shuttle/countdown/countdown.html\t200\t3985\t\t'),
 Row(host	logname	time	method	url	response	bytes='d104.aa.net\t-\t804571213\tGET\t/shuttle/countdown/\t200\t3985\t\t'),
 Row(host	logname	time	method	url	response	bytes='129.94.144.152\t-\t804571213\tGET\t/\t200\t7074\t\t')]

In [54]:
csvdata.count()

9644

In [89]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [90]:
dff = sqlContext.read.format("nasa_19950701.tsv").option("header", "true").option("inferSchema", "true").option("delimiter", "]|[")

In [ ]:
dff.registertemptable("datalogs")

In [92]:
dff